<div class="main-content">
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand py-0 text-center pull-left" href="/home" style="float: left;">
          Hotel Name & Logo
          <!-- <img src="assets/images/logo.png" class="navbar-brand-img" alt=""> -->
        </a>
        <ul class="nav" style="float: right;">
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/']">
              <div class="media align-items-center">
                <span>Logout</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  
      <div class="container-fluid mt--7 mt-3 mb-5">
        <div class="row">
          <div class="col-1"></div>
  
          <div class="col-10">
  
            <div class="card border-left-primary shadow py-2" style="height:120%;">
              <div class="card-body">
                <form [formGroup]="addOrderForm">
                  <div class="header" style="font-size:25px;font-weight:bold;text-align: center;">
                     Bill Generate 
                  </div>
                     <br>
                   
  
                      <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label for="tableNo" class="col-sm-2 col-form-label addLabels">
                          <input type="checkbox" (change)="isChecked=!isChecked">Table No.
                        </label>
                        <div class="col-sm-8">
                          
                          <select *ngIf="!isChecked" class="form-control" formControlName="tableNo" style="height:50px;" [(ngModel)]="tableNo">
                            <option>select table</option>
                            <option *ngFor="let tables of bookedTable">{{tables}}</option>
                        
                          </select>
                         
  
                        </div>
                        <div class="col-sm-1"></div>
                      </div>

                      
        
                    <div class="form-group row" *ngIf="isChecked">
                      <div class="col-sm-1"></div>
                      
                        <!-- <input type="checkbox" style="float: left;"> -->
                        <label for="cust_name" class="col-sm-2 col-form-label addLabels">Customer Name</label>
                      
                      <div class="col-sm-8">
                        <input class="form-control" formControlName="cust_name" [(ngModel)]="cust_name" type="text" placeholder="Enter customer name" style="height:50px;">
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
        
                    <div class="form-group row">
                      <div class="col-sm-1"></div>
                      <label for="cust_mobNo" class="col-sm-2 col-form-label addLabels">Customer Mobile No.</label>
                      <div class="col-sm-8">
                        <input type="number" formControlName="cust_mobNo" class="form-control" [(ngModel)]="cust_mobNo" placeholder="Enter customer Mobile No." style="height:50px;">
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    
                   

                   <div class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="discount" class="col-sm-2 col-form-label addLabels">Discount</label>
                    <div class="col-sm-8">
                      <input type="number" formControlName="discount" class="form-control" [(ngModel)]="discount" style="height:50px;">
                    </div>
                    <div class="col-sm-1"></div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="discount" class="col-sm-2 col-form-label addLabels">Total Price</label>
                    <div class="col-sm-8">
                      <input type="number" formControlName="discount" class="form-control" [(ngModel)]="discount" style="height:50px;">
                    </div>
                    <div class="col-sm-1"></div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-1"></div>
                    <label for="discount" class="col-sm-2 col-form-label addLabels">Grand Total</label>
                    <div class="col-sm-8">
                      <input type="number" formControlName="discount" class="form-control" [(ngModel)]="discount" style="height:50px;">
                    </div>
                    <div class="col-sm-1"></div>
                  </div>

                  <br>


                    <div class="form-group row">
                      <div class="col-sm-1"></div>
                      
                      <div class="col-sm-8">
                        <button type="button" class="btn btn-primary" (click)="open(content)" style="width:120px;">Generate Bill</button>
                      </div>
                      <div class="col-sm-1"></div>
                    </div>
                    
        
                </form>
              </div>
            </div>
  
          </div>
  
          <div class="col-1"></div>
      </div>
  </div>



 
 

  
             